# This file contains common pin mappings for the BIGTREETECH SKRat V1.0.
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.
[include autotune_tmc.cfg]
[include ebb36.cfg]
[include fluidd.cfg]
[include macros.cfg]
[include priming.cfg]

####################################################################
## MCUs
####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_btt-skrat-10-if00
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 10
max_z_accel: 30

####################################################################
## STEPPER CONFIGURATIONS
####################################################################

## Stepper X configuration
## ----------------------------------------
[stepper_x]
step_pin: PF9
dir_pin: !PD7
enable_pin: !PD6
endstop_pin: ^PB5
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper

position_endstop: 180
position_min: 0
position_max: 180
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

## Stepper Y configuration
## ----------------------------------------
[stepper_y]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD5
endstop_pin: ^PC1
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper

position_endstop: 180
position_min: 0
position_max: 180
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

## Z Stepper - Left Z Motor configuration
## ----------------------------------------
[stepper_z]
step_pin: PA15
dir_pin: PF8
enable_pin: !PC9
endstop_pin: ^PC0
# endstop_pin: probe:z_virtual_endstop

microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
homing_speed: 8.0 
second_homing_speed: 3
homing_retract_dist: 3

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: 1

# All builds use same Max Z
position_max: 150
position_min: -5

## Z1 Stepper - Rear Z Motor configuration
## ----------------------------------------
[stepper_z1]
step_pin: PC7
dir_pin: !PC6
enable_pin: !PD9
rotation_distance: 8    # For T8x8 integrated lead screw
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

## Z2 Stepper - Right Z Motor configuration
## ----------------------------------------
[stepper_z2]
step_pin: PB10
dir_pin: PE15
enable_pin: !PA8
rotation_distance: 8    # For T8x8 integrated lead screw
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

#####################################################################
#  Extruder PID settings, in here so we can save_config
#####################################################################


[heater_bed]
heater_pin: PB3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PB2
control: pid
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

####################################################################
## Z TILT CONFIGURATION
####################################################################

[z_tilt]
z_positions:
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the XY position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
    # For 180 build
    -50, -13
    90, 217
    213, -13

points:
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
    # For 180 build
    20, 10
    90, 155
    160, 10

speed: 250
horizontal_move_z: 5
retries: 15
retry_tolerance: 0.0075

####################################################################
## BED MESH CONFIGURATION
####################################################################

[bed_mesh]
speed: 250
horizontal_move_z: 5
mesh_min:
    10, 10
mesh_max:
    170, 170  # For 180 build

####################################################################
## FAN CONFIGURATIONS
####################################################################
# Electronics cooling fan - Fan3
# ----------------------------------------
[controller_fan Electronics_Fan]
pin: PD12
stepper: stepper_x, stepper_y

# Bed fans - Fan2
# ----------------------------------------
[heater_fan Bed_Fans]
pin: PD13
heater: heater_bed
heater_temp: 80
fan_speed: 0.50

####################################################################
## TEMPERATURE CONFIGURATIONS
####################################################################

# Compute module
# ----------------------------------------
[temperature_sensor RPi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

####################################################################
## MISC CONFIGURATIONS
####################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC13, EXP1_3=PC3, EXP1_5=PB1, EXP1_7=PC5, EXP1_9=<GND>,
    EXP1_2=PF3,  EXP1_4=PC2, EXP1_6=PB0, EXP1_8=PC4, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PE8, EXP2_7=PE10,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PF7, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[neopixel my_neopixel]
#pin: PE4

########################################
## TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PF10
run_current: 0.800
sense_resistor: 0.110
interpolate: True

[tmc2209 stepper_y]
uart_pin: PD4
run_current: 0.800
sense_resistor: 0.110
interpolate: True

[tmc2209 stepper_z]
uart_pin: PC8
run_current: 0.800
sense_resistor: 0.110
interpolate: True

[tmc2209 stepper_z1]
uart_pin: PD8
run_current: 0.800
sense_resistor: 0.110
interpolate: True

[tmc2209 stepper_z2]
uart_pin: PB11
run_current: 0.800
sense_resistor: 0.110
interpolate: True

####################################################################
## PERSONAL CONFIGURATIONS
####################################################################

[exclude_object]
[force_move]
[idle_timeout]
timeout: 1800
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

